# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env
.venv

# OS-specific
.DS_Store
Thumbs.db

# no1homelab specific ignores
.envrc
src/no1homelab.egg-info/
src/no1homelab/__pycache__/
